<div class="container">
    {{#if audit}}
    <link href="https://{{audit.rootUrl}}/site.css" rel="stylesheet"> 
    <link href="/css/main.css"> 
    <h2 class="center name">{{audit.cuName}}(<a href="{{audit.url}}" target="_blank"> Go to Site</a> | <a href="/audits/dev/{{audit.id}}">View Code</a>)</h2>
    <br>
    <div class="row">
    <div class="col s12" style="flex:1; flex-basis:initial;">
      <ul id="tab-nav" class="tabs">
        <li class="tab col s4"><a class="active" href="#diff">Change Highlight</a></li>
        <li class="tab col s4"><a href="#old">Preview Version</a></li>
        <li class="tab col s4 "><a href="#new">New Version</a></li>
      </ul>
    </div>
    <div id="diff" class="tab_content col s12">
        <center>
            {{{audit.diffData}}}
        </center>
    </div>
    <div id="old" class="tab_content col s12">
        <center>
            <h2> Images</h2>
            <div class="assetsImages">
              {{# each audit.oldAssets }}
                {{#if this}}
                    <img src="{{this}}" alt="image" style="height:150px; "/>
                {{/if}}
                {{/each}}
            </div>
            {{{audit.oldData}}}
        </center>
    </div>
    <div id="new" class="tab_content col s12">
        <center>
            <h2> Images</h2>
            <div class="assetsImages">
              {{# each audit.newAssets }}
                {{#if this}}
                    <img src="{{this}}" alt="image" style="height:150px; "/>
                {{/if}}
                {{/each}}
            </div>
            {{{audit.newData}}}
        </center>
    </div>
  </div>
    {{/if}}

</div>