<style>
    img {
        max-width: 150px;
    }
</style>
<div class="container">
    <h1>Changes Detected</h1>
    <form action="audits?cu={{cu}}" class="query-form">
        <input type="date" name="date" placeholder="Select a date">
        <button type="submit" class="btn oc-btn">Submit</button>
    </form>
    <table class="striped">
        <thead>
            <tr class="bg-primary text-white">
                <td>Name</td>
                <td>URL</td>
                <td>Change Date</td>
                <td>Dev Option</td>
                {{#if user}}
                    <td>Delete</td>
                {{/if}}
            </tr>
        </thead>
        <tbody>
        {{# each audits }}
            <tr>
                <td><a href="/audits/{{this.id}}">{{{this.cuName}}}</td>
                <td><a href="/audits/{{this.id}}">{{{this.url}}}</td>
                <td><a href="/audits/{{this.id}}">{{{this.modified}}}</td>
                <td><a href="/audits/dev/{{this.id}}">View Code</td>
                {{#if ../user}}
                    <td><a href="/audits/delete/{{this.id}}"><i class="material-icons red-text darken-4">delete</td>
                {{/if}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="https://static.squarespace.com/universal/scripts-compressed/common-53415b1d9d60c7be9382-min.en-US.js" type="text/javascript"></script>